.wrapper
  %div.main-content{data: {group_id: @group.id}}
    .upper-message
      .main-header
        .main-header__left-box
          %h2.main-header__left-box__current-group
            = @group.name
          %ul.main-header__left-box__mamber-list
            - @group.group_users.each do |group_user|
              = group_user.user.name
        .main-header__edit-btn
          = link_to "edit", "/groups/#{params[:group_id]}/edit"


      .main-messages
        = render @messages
      .main-form
        .form
          = form_for [@group, @message], id: 'new_message' do |f|
            = f.text_field :content, class: 'form__message', placeholder: 'type a message'
            = f.label :image, class: 'form__mask' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'form__submit'
  .side-content
    .side-header
      .side-header__user-name-box
        %p
          = current_user.name
        %ul
          %li.side-header__box__menu__new-group
            = link_to new_group_path do
              %i.fa.fa-edit
            = link_to edit_user_path(current_user) do
              %i.fa.fa-cog
    .room-content
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message
