.wrapper
  .main-content
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group
          サンプル
        %ul.main-header__left-box__mamber-list
          サンプル
      .main-header__edit-btn
        = link_to "edit", "/groups/#{params[:group_id]}/edit"


    .main-messages
      .main-message
        .main-message__upper-info
          %p.main-message__upper-info__talker
            サンプル
          %p2.main-message__upper-info__data
            サンプル
        %p3.main-message__text
          hello
    .main-form
      .form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'

  .side-content
    .side-header
      .side-header__user-name-box
        %p
          = current_user.name
        %ul
          %li.side-header__box__menu__new-group
            = link_to new_group_path do
              %i.fa.fa-edit
            = link_to edit_user_path(current_user) do
              %i.fa.fa-cog
    .room-content
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.latest.message

