.wrapper
  .side-content
    .side-header
      .side-header__user-name-box
        %p
          = current_user.name
        %ul
          %li.side-header__box__menu__new-group
            = link_to new_group_path do
              %i.fa.fa-edit
            = link_to edit_user_path(current_user) do
              %i.fa.fa-cog
    .room-content
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message

